@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* TYPOGRAPHY */
  /* 64 */
  .h1-bold {
    @apply font-bold text-[40px] leading-[48px] lg:text-[48px] lg:leading-[60px]  xl:text-[58px] xl:leading-[74px];
  }

  /* 40 */
  .h2-bold {
    @apply font-bold text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  .h2-medium {
    @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  /* 36 */
  .h3-bold {
    @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  .h3-medium {
    @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  /* 32 */
  .h4-medium {
    @apply font-medium text-[32px] leading-[40px];
  }

  /* 28 */
  .h5-bold {
    @apply font-bold text-[28px] leading-[36px];
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[24px] leading-[36px];
  }

  .p-medium-24 {
    @apply font-medium text-[24px] leading-[36px];
  }

  .p-regular-24 {
    @apply font-normal text-[24px] leading-[36px];
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[20px] leading-[30px] tracking-[2%];
  }

  .p-semibold-20 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
  }

  .p-medium-20 {
    @apply text-[20px] font-medium leading-[30px];
  }

  .p-regular-20 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%];
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px];
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[16px] font-bold leading-[24px];
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[24px];
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[14px] font-semibold leading-[20px];
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px];
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px];
  }

  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px];
  }
}

.start-btn {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.start-btn:active,
.start-btn:hover {
  outline: 0;
}

.start-btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.start-btn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .start-btn {
    font-size: 24px;
    min-width: 196px;
  }
}

@keyframes textAnimate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.text-bg {
  background: linear-gradient(
    to right,
    #f28585,
    #f4dfb6,
    #ffa447,
    #fffc9b,
    #b7e5b4
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  animation: textAnimate 5s ease infinite alternate;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 6px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 6px;
}

.form-shadow {
  box-shadow: 9px 5px 15px rgba(0, 0, 0, 0.1), -9px 5px 15px rgba(0, 0, 0, 0.1),
    0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* 隐藏滚动条 */
.styled-scrollbar::-webkit-scrollbar {
  width: 10px; /* 设置滚动条的宽度 */
}

/* 定义滚动条轨道的样式 */
.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* 设置滚动条轨道的背景色 */
}

/* 定义滚动条滑块的样式 */
.styled-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(241, 239, 239, 0.2); /* 设置滚动条滑块的背景色 */
  border-radius: 5px; /* 设置滚动条滑块的圆角 */
}

/* 鼠标悬停在滚动条滑块上时的样式 */
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(241, 239, 239, 0.5); /* 设置鼠标悬停时滚动条滑块的背景色 */
}
.styled-scrollbar::-webkit-scrollbar-corner {
  display: none;
}

/* 隐藏滚动条 */
.hide-scrollbar::-webkit-scrollbar {
  width: 10px; /* 设置滚动条的宽度 */
  display: none;
}
/* 定义滚动条轨道的样式 */
.hide-scrollbar::-webkit-scrollbar-track {
  display: none;
  /* background: transparent; 设置滚动条轨道的背景色 */
}

/* 定义滚动条滑块的样式 */
.hide-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

/* 鼠标悬停在滚动条滑块上时的样式 */
.hide-scrollbar::-webkit-scrollbar-thumb:hover {
  display: none;
}
.hide-scrollbar::-webkit-scrollbar-corner {
  display: none;
}

@keyframes flicker {
  0% {
    opacity: 1; /* 初始透明度为完全不透明 */
  }
  50% {
    opacity: 0.5; /* 中间透明度为半透明 */
  }
  100% {
    opacity: 1; /* 最终透明度为完全不透明 */
  }
}

.flicker {
  animation: flicker 2s infinite;
}

.gear-icon {
  animation: rotate 2s linear infinite; /* 定义旋转动画 */
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* 从 0 度开始旋转 */
  }
  to {
    transform: rotate(360deg); /* 旋转到 360 度 */
  }
}
